{{#if addNewEstate}}
  <h2>Add New Estate</h2>
  <div class="new-estate">
    <form >

      <div class="form-group">
        <label for="id">Id:</label>
        {{input value=id id="id"}}
      </div>


      <div class="form-group">
        <label for="type">Type:</label>
        {{input value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="area">Area:</label>
        {{input value=area id="area"}}
      </div>

      <div class="form-group">
        <label for="bedroom">Bedrooms:</label>
        {{input value=bedroom  id="bedroom"}}
      </div>

      <div class="form-group">
        <label for="image">Image:</label>
        {{input value=image id="image"}}
      </div>

      <button  {{action 'saveEstate1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button  {{action 'estateFormShow'}}>New Estate</button>
{{/if}}
